
.title-contact {
	background-image: url('https://res.cloudinary.com/oscarinh0/image/upload/v1539036930/new-contact-title.png');
}

.grid-contact {
	width: 100%;
	position: relative;
	display: grid;
	grid-template-columns: 20% 60% 20%;
	grid-template-rows: 30% 20% 20% 20% 10%;
	z-index: 3;
	grid-gap: 32px;
	padding-bottom: 80px;
}

.fab {
	font-size: 80px;
	color: #f4f5db;

	
}

.far {
	font-size: 80px;
	color: #f4f5db;
	margin-right: 24px;
}

.fas {
	font-size: 80px;
	color: #fffffe;
	margin-right: 24px;
}


.flex-position {
display: flex;
justify-content: center;
align-itmes: center;
}

.mail-icone {
	grid-row: 1;
	grid-column: 2;
}

.g__mail {
grid-row: 2;
grid-column: 2;
}


.linkedin-icone {
	grid-row: 4;
	grid-column: 2;
}


.g__linkedin {
	grid-row: 5;
	grid-column: 2;
}

.malt-icone {
	grid-row: 7;
	grid-column: 2;
}

.g__malt {
	grid-row: 8;
	grid-column: 2;
}




