
.title-contact {
	background-image: url('https://res.cloudinary.com/oscarinh0/image/upload/v1538609873/title-contact.png');
}

.grid-contact {
	width: 60%;
	position: relative;
	display: grid;
	grid-template-columns: 20% 60% 20%;
	grid-template-rows: 150px 32px 150px 32px 150px 32px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	z-index: 3;
}

.fab {
	font-size: 80px;
	color: #fffffe;
	margin-right: 24px;
}

.far {
	font-size: 80px;
	color: #fffffe;
	margin-right: 24px;
}

.fas {
	font-size: 80px;
	color: #fffffe;
	margin-right: 24px;
}



.mail-icone {
	grid-row: 1;
	grid-column: 2;
}


.linkedin-icone {
	grid-row: 3;
	grid-column: 2;
}

.malt-icone {
	grid-row: 5;
	grid-column: 2;
}




