
.title-home {
	background-image: url('https://res.cloudinary.com/oscarinh0/image/upload/v1539036930/new-welcome-title.png');
}

.home-grid {
	display: block;
	z-index: 2000;
    width: 45%;
    margin-bottom: 80px;
}

