//#wrapper {
//width: 100%;
//margin: 0 auto;
//display: flex;
//align-content: center;
//justify-content: center;
//}


	.nuancier {
		position: absolute;
		right: 90%;
		box-shadow: 8px 2px 32px -1px rgba(0,0,0,0.75);
		box-shadow: -8px 2px 32px -1px rgba(0,0,0,0.75);
		z-index: 4600
	}
	
	.inspirations-title {
		position: fixed;
		z-index: 4000;
	}
<<<<<<< HEAD
=======
	
	.inspirations-title {
		position: fixed;
	}
}
>>>>>>> 4b3241d0b1f962c764b84e8aa97e20ebb04c9ced

.container {
	display: flex;
	justify-content: center;
}

//.background-inspirations {
//	background: url('background_inspirations.jpg');
//	background-attachment: fixed;
//	background-position: center;
//	background-size: cover;
//	background-repeat: no-repeat;
//	width: 70%;
//	position: absolute;
//}


//GRIIIIIIIDDDDDDD//





.grid-inspirations {
	display: grid;
	grid-template-columns: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
	grid-template-rows: 80px 80px 80px 80px 80px 80px 80px 80px 80px 80px 80px 80px 80px 80px 80px 80px 80px 80px 80px 80px 80px 80px 80px 80px 80px 80px 80px 80px 80px 80px 80px 80px 80px 80px 80px 80px 80px 80px 80px 80px 80px 80px 80px 80px 80px 80px 80px;
	grid-gap: 10px;
	z-index: 4500;
	width: 80%;
	position: relative;
	padding-top: 322px;
	z-index: 3;
}

.row-1-col-2-span-7-MIES {
	grid-row: 1 / 4;
	grid-column: 2 / 8;
	background-image: url('inspi-mies.jpg');
	&:hover {
		grid-row: 1 / 4;
		grid-column: 2 / 8;
		background-image: url('inspi-mies-glitch.png');
	}
	
}
.row-4-col-8-span-3x3-PORTINARI {
	grid-row: 4 / 7;
	grid-column: 7 / 10;
	background-image: url('inspi-portinari.jpg');
	margin-right: 16px;
	&:hover {
		grid-row: 4 / 7;
		grid-column: 7 / 10;
		background-image: url('inspi-portinari-glitch.jpg');
		margin-right: 16px;
	}
}
.row-5-col-2-span-3x4-PARROT {
	grid-row: 4 / 7; 
	grid-column: 2 / 6;
	background-image: url('inspi-parrot.png');
}

.row-7-col-4-span-4x3-SOFOOT {
	grid-row: 7 / 11; 
	grid-column: 4 / 7;
	background-image: url('inspi-sofoot.jpg');
	&:hover {
		grid-row: 7 / 11; 
		grid-column: 4 / 7;
		background-image: url('inspi-sofoot-glitch.jpg');
	}
}

.row-9-col-1-span-2-BARRAGAN1 {
	grid-row: 9 / 14;
	grid-column: 1 / 3;
	background-image: url('inspi-barragan1.jpg');
	&:hover {
		grid-row: 9 / 14;
		grid-column: 1 / 3;
		background-image: url('inspi-barragan1-glitch.jpg');
	}

}

.row-11-col-5-span-2x3-BARRAGAN2 {
	grid-row: 13 / 15;
	grid-column: 3 / 6;
	background-image: url('inspi-barragan2.jpg');
	
	&:hover {
		grid-row: 13 / 15;
		grid-column: 3 / 6;
		background-image: url('inspi-barragan2-glitch.png');
	}
}

.row-9-col-5-span-4x5-PARROT2 {
	grid-row: 11 / 15;
	grid-column: 5 / 10;
	background-image: url('inspi-parrot2.png');
	
}

.row-13-col-3-span-5x5-BASQUIAT {
	grid-row: 16 / 21;
	grid-column: 3 / 7;
	background-image: url('inspi-basquiat.jpg');
	

	&:hover {
		grid-row: 16 / 21;
		grid-column: 3 / 7;
		background-image: url('inspi-basquiat-glitch.jpg');

	}
}


.row-19-col-7-span-2x3-OSS {
	grid-row: 22 / 24;
	grid-column: 6 / 10;
	background-image: url('inspi-oss.jpg');
	margin-right: 16px;
	&:hover {
		grid-row: 22 / 24;
		grid-column: 6 / 10;
		background-image: url('inspi-oss-glitch.jpg');
		margin-right: 16px;
	}
}

.row-21-col-1-span-1x8-CEZANNE {
	grid-row: 25 / 26;
	grid-column: 1 / 8;
	background-image: url('inspi-cezanne.jpg');
	&:hover {
		grid-row: 25 / 26;
		grid-column: 1 / 8;
		background-image: url('inspi-cezanne-glitch.jpg');
	}
}

.row-22-col-4-span-4x5-LACHAPPELLE {
	grid-row: 27 / 31;
	grid-column: 4 / 10;
	background-image: url('inspi-lachappelle.jpg');
	margin-right: 16px;
	&:hover {
		grid-row: 27 / 31;
		grid-column: 4 / 10;
		background-image: url('inspi-lachappelle-glitch.jpg');
		margin-right: 16px;
	}
}

.row-26-col-1-span-3x3-GEMEOS {
	grid-row: 32 / 35;
	grid-column: 1 / 4;
	background-image: url('inspi-gemeos.jpg');
	margin-left: 11px;
	&:hover {
		grid-row: 32 / 35;
		grid-column: 1 / 4;
		background-image: url('inspi-gemeos-glitch.jpg');
	}
}

.row-27-col-3-span-3x4-MONKEY {
	grid-row: 33 / 36;
	grid-column: 3 / 7;
	background-image: url('inspi-monkey.png');
	margin-right: 8px;
}

.row-27-col-6-span-4x4-TURRELL {
	grid-row: 32 / 38;
	grid-column: 6 / 10;
	background-image: url('inspi-turrell.jpg');
	margin-right: 16px;
	

	&:hover {
		grid-row: 32 / 38;
		grid-column: 6 / 10;
		background-image: url('inspi-turrell-glitch.jpg');
	}
}

.row-33-col-7-span-2x2-AM1 {
	grid-row: 39 / 41;
	grid-column: 6 / 9;
	background-image: url('inspi-am1.png');

	&:hover {
		grid-row: 39 / 41;
		grid-column: 6 / 9;
		background-image: url('inspi-am1-glitch.png');
	}
}

.row-31-col-1-span-2-IAM {
	grid-row: 38 / 41;
	grid-column: 1 / 5;
	background-image: url('inspi-iam.jpg');

	&:hover {
		grid-row: 38 / 41;
		grid-column: 1 / 5;
		background-image: url('inspi-iam-glitch.jpg');
	}
}	

.row-35-col-1-span-5x6-FERIS {
	grid-row: 41 / 47;
	grid-column: 2 / 8;
	background-image: url('inspi-ferris.jpg');
	margin-top: 88px;

	&:hover {
		grid-row: 41 / 47;
		grid-column: 2 / 8;
		background-image: url('inspi-ferris-glitch.jpg');
	}
}

.row-37-col-4-span-3x6-ONCA {
	grid-row: 45 / 48;
	grid-column: 4 / 10;
	background-image: url('inspi-onca.png');
}
