
.container-project {
  display: flex;
  justify-content: center;
  align-items: center;
}


.title-projects {
background-image: url('https://res.cloudinary.com/oscarinh0/image/upload/v1539036930/new-experience-title.png');
}

.scrolling-wrapper {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
}

.projects-card {
    position: relative;
    top: 5vh;
    display: inline-block;
    width: 100%;
    justify-content: center;
  }


.projects-grid {
  position: relative;
  z-index: 5000;
  display: grid;
  grid-template-columns: 70%;
  grid-template-rows: 80px 400px 80px;
  transform: rotate(-3deg);
  grid-gap: 80px;
  width: 60%;
}


.projects-date {
  grid-row: 1;
  grid-column: 1;
  display: flex;
  align-items: center;
}

.projects-image {
  grid-row: 2;
  grid-column: 1;
  background-repeat:no-repeat;
  background-size:contain;
  background-position:center;
  z-index: 8000;
  filter: grayscale(0);
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url('https://res.cloudinary.com/oscarinh0/image/upload/v1538607701/Portfolio/projects-mrgigz.png');
  
}

.projects-description {
  grid-row: 3;
  grid-column: 1;
  display: block; 
}

.text-deb {
  overflow-wrap: break-word;
  word-break: break-all;
  hyphens: auto;

}



