
.container-project {
  margin-top: 5vh;
  display: flex;
  justify-content: center;
}


.title-projects {
background-image: url('https://res.cloudinary.com/oscarinh0/image/upload/v1538608886/Portfolio/title-experience.png');
}

.scrolling-wrapper {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;

  .projects-card {
    position: relative;
    top: 10vh;
    display: inline-block;
    width: 80vw;
    height: 101vh;
    margin-left: 72px;
  }
}

.petit {
  width: 85%;
  margin-top: 120px;
}


.projects-grid {
  position: relative;
  z-index: 5000;
  display: grid;
  grid-template-columns: 70vw;
  grid-template-rows: 100px 400px 200px;
  transform: rotate(-3deg);
  grid-gap: 80px;
}


.projects-date {
  grid-row: 1;
  grid-column: 1;
  display: flex;
  align-items: center;
}

.projects-image {
  grid-row: 2;
  grid-column: 1;
  background-image: url('projects-mrgigz.png');
  background-repeat:no-repeat;
  background-size:contain;
  background-position:center;
  z-index: 8000;
  filter: grayscale(0);
  display: flex;
  align-items: center;
  justify-content: center;
  
  .projects-image-text {

    color: white;
    opacity: 0;
    transition: 0.7s;
  }

  .fa-search {
    opacity: 0;
    color:white;
    transition: 0.7s;
  }

  &:hover {
    filter: grayscale(0.7);
    .fa-search {
      opacity: 1;
    }
    .projects-image-text {
      opacity: 1;
    }
  }
}

.projects-description {
  grid-row: 3;
  grid-column: 1;
  display: block; 
 
 

  p {
    text-align: right;
  }

  h4 {
    text-align: right;
  }
}

.text-deb {
  overflow-wrap: break-word;
  word-break: break-all;
  hyphens: auto;

}



