.title-projects {
  background-image: url('https://res.cloudinary.com/oscarinh0/image/upload/v1539036930/new-experience-title.png');
}

.projects-grid {
  position: relative;
  z-index: 1000;
  display: grid;
  grid-template-columns: 10% 90% 10%;
  grid-template-rows: 100px 500px 80px 400px 100px 500px 80px 400px 100px 500px 80px 400px 100px 500px 80px 200px;
  width: 70%;
  margin-bottom: 200px;
  grid-gap: 16px;
  right: 6%;


.rotation {
   transform: rotate(-3deg);
}


  //MRGIGZ//

  .projects-date__mrgigz {
    display: flex;
    grid-row: 1;
    grid-column: 2/3;

  }

  .projects-image__mrgigz {
    background-repeat:no-repeat;
    background-size: cover;
    background-position:center;
    z-index: 8000;
    grid-row: 2;
    grid-column: 2;
    background-image: url('https://res.cloudinary.com/oscarinh0/image/upload/v1538607701/Portfolio/projects-mrgigz.png');
  }

  .projects-name__mrgigz {
    grid-row: 3;
    grid-column: 2;
  }

  .project-period__mrgigz {
    grid-column: 3;
    grid-row: 2;
  }



//SAD//

  .projects-date__sad {
    display: flex;
    grid-row: 5;
    grid-column: 2/3;

  }

  .projects-image__sad {
    background-repeat:no-repeat;
    background-size: cover;
    background-position:center;
    z-index: 8000;
    grid-row: 6;
    grid-column: 2;
    background-image: url('https://res.cloudinary.com/oscarinh0/image/upload/v1539304358/img_sad_marketing.jpg');
  }

  .projects-name__sad {
    grid-row: 7;
    grid-column: 2;
  }

  .project-period__sad {
    grid-column: 3;
    grid-row: 6;
  }

 //PR//

 .projects-date__pr {
    display: flex;
    grid-row: 9;
    grid-column: 2/3;

  }

  .projects-image__pr {
    background-repeat:no-repeat;
    background-size: cover;
    background-position:center;
    z-index: 8000;
    grid-row: 10;
    grid-column: 2;
    background-image: url('https://res.cloudinary.com/oscarinh0/image/upload/v1539370088/project_pr.png');
  }


  .projects-name__pr {
    grid-row: 11;
    grid-column: 2;
  }

  .project-period__pr {
    grid-column: 3;
    grid-row: 10;
  }



  //AI//

  .projects-date__ai {
    display: flex;
    grid-row: 13;
    grid-column: 2/3;

  }

  .projects-image__ai {
    background-repeat:no-repeat;
    background-size: cover;
    background-position:center;
    z-index: 8000;
    grid-row: 14;
    grid-column: 2;
    background-image: url('https://res.cloudinary.com/oscarinh0/image/upload/v1539370520/project_ai.png');
  }

  .projects-name__ai {
    grid-row: 15;
    grid-column: 2;
    margin-bottom: 400px;
  }

  .project-period__ai {
    grid-column: 3;
    grid-row: 14;
  }
}
