
<div class="container">
	

	<div class="grid-contact">
		<div class="contact-icone mail-icone text ">
			<i class="far fa-envelope"></i>
			<h5>inbox.ob@gmail.com</h5>
		</div>
		<div class="contact-icone whatsapp-icone text ">
			<i class="fab fa-whatsapp"></i>
			<h5>+55 (11) 9429 827 86</h5>
		</div>
		<div class="contact-icone linkedin-icone text ">
			<i class="fab fa-linkedin"></i>
			<h5>Linkedin</h5>
		</div>
		<div class="contact-icone malt-icone text ">
			<i class="fas fa-pen-alt"></i>
			<h5>Malt</h5>
		</div>
		<div class="contact-icone city-icone text ">
			<i class="fas fa-map-signs"></i>
		    <h5>I live in Sao Paulo</h5>
		</div>
		<div class="contact-icone desk-icone text ">
			<i class="fas fa-briefcase"></i>
			<h5>But I work everywhere</h5>
		</div>
	</div>
</div>
