<div class="title-contact"></div>
<div class="container">
	<div class="grid-contact">
		<div class="contact-icone mail-icone flex-position">
			<i class="far fa-envelope"></i>
		</div>	
		<div class="contact-links g__mail flex-position">
			<%= mail_to 'inbox.ob@gmail.com'%>
		</div>
		<div class="contact-icon linkedin-icone flex-position ">
			<i class="fab fa-linkedin"></i>
		</div>
		<div class="contact-links g__linkedin flex-position">
			<%= link_to "linkedin", "https://www.linkedin.com/in/oscar-bonte-769877121", :target=> "_blank"%>
		</div>
	</div>
</div>	


