<div class="container">
	<div class="grid-home">
		<div class="palm-glitch"> <%= image_tag "palm-glitch.gif", alt: "title", width: 600 %>
			<div class="welcome-mssg">
				<h2>WELCOME TO </h2>
				<h2>THE JUNGLE</h2>
			</div>
		</div>
		<div class="btn btn-contact"><%= link_to 'CONTACT', :contact %></div>
		<div class="btn btn-project"><%= link_to 'PROJECTS', :projects %></div>
		<div class="btn btn-inspirations"><%= link_to 'INSPIRATIONS', :inspirations %></div>
	</div>
</div>
