
<div class="container">
	<div class="grid-home">

		<div class="title-welcome"></div>
		<div class="home-elements">
		</div>
		<div class="home-bio">
			<p> Bonjour, I'm Oscar Bonte a french creative developper and communicator available for a job. I'm currently living in São Paulo (Brazil). </p>

			<p> Graduated from UCL university (Belgium) Communication & Marketing, i started to work as a junior market analyst for <%= link_to 'SAD Marketing (France)','http://www.sad-marketing.com/fr/', :class => "btn-link"%> before realising I definitivly wanted to learn code and more sun.</p>

			<p> That's why, i went to Brasil to follow a formation of two months in full stack developper at <%= link_to "Le Wagon (São Paulo)", "https://www.lewagon.com/", :target=> "_blank", :class => "btn-link"%>.</p>

			<p>Now i would like to get a job in the field of culture or in any digital creative agency</p>

			<p> Feel free to have a look to my </p>
			<p class="txt_center"> <span id="home-link"><%= link_to 'PROJECTS', :projects %> </span>and <span id="home-link"><%= link_to 'INSPIRATIONS', :inspirations%></span>	</p>

			<p>Enjoy your visit ! :-)</p>
		</div>
	</div>
</div>

