<div class="text-test">
<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>
</div>

<div class="welcome-mssg">
	<h2>WELCOME TO </h2>
	<h2>THE JUNGLE</h2>
	<h1>kikou</h1>
</div>
<div> <%= image_tag "palm-glitch.gif", alt: "title", width: 600 %> </div>

<%= link_to 'CONTACT', :contact %>
<%= link_to 'PROJECTS', :projects %>
<%= link_to 'INSPIRATIONS', :inspirations %>
