
<div class="container">
	<div class="home-grid">
		<div class="home-bio">
			<div class="p_home_bjr">
			<span id="bjr__home">I'm</span> <h1>Oscar Bonte</h1>
			</div>
			<p> a french creative developper and communicator available for a job. I'm currently living in São Paulo (Brazil).</p>
			<p> Graduated from UCL university (Belgium) Communication & Marketing, i started to work as a junior market analyst for <%= link_to 'SAD Marketing (France)','http://www.sad-marketing.com/fr/', :class => "btn-link"%> before realising I definitivly wanted to learn code and more sun.</p>

			<p> That's why, i went to Brasil to follow a formation of two months in full stack developper at <%= link_to "Le Wagon (São Paulo)", "https://www.lewagon.com/", :target=> "_blank", :class => "btn-link"%>.</p>

			<p>Now i would like to get a job in the culture field or in any digital creative agency.</p>
			<p> Feel free to have a look to my </p>
		</div>
		<br>
		<span id="home-link"><%= link_to 'EXPERIENCES', :projects %> </span><span id="margin-and"><p>and</p></span> <span id="home-link"><%= link_to 'INSPIRATIONS', :inspirations%></span>
		<br>
		<p>Enjoy your visit ! :-)</p>
	</div>
</div>

