
<div id="wrapper">
	<div class="nuancier">
		<%= image_tag "barre-gide.jpg", alt: "title", width: 50 %>
	</div>
	<div class="inspirations-title">
		<%= image_tag "inspirations-title.png", alt: "title", width: 950 %>
	</div>
	<div class="background-inspirations">
		<div class="grid-inspirations">
			<div class="row-1-col-2-span-7-MIES card">
				<div class="card-text">
					<h6 class="card-title">Card title</h6>
					<p class="card-body">And here is some text</p>
				</div>
			</div>
			<div class="row-4-col-8-span-2-PORTINARI card">
				<div class="card-text">
					<h6 class="card-title">Card title</h6>
					<p class="card-body">And here is some text</p>
				</div>
			</div>
			<div class="row-5-col-2-span-3x4-PARROT card	">
			</div>
			<div class="row-7-col-4-span-4x3-SOFOOT card">
				<div class="card-text">
					<h6 class="card-title">Card title</h6>
					<p class="card-body">And here is some text</p>
				</div>
			</div>
			<div class="row-9-col-1-span-2-BARRAGAN1 card">
				<div class="card-text">
					<h6 class="card-title">Card title</h6>
					<p class="card-body">And here is some text</p>
				</div>
			</div>
			<div class="row-11-col-5-span-2x3-BARRAGAN2 card">
				<div class="card-text">
					<h6 class="card-title">Card title</h6>
					<p class="card-body">And here is some text</p>
				</div>
			</div>
			<div class="row-9-col-5-span-4x5-PARROT2 card">
			</div>
			<div class="row-13-col-3-span-5x5-BASQUIAT card">
				<div class="card-text">
					<h6 class="card-title">Card title</h6>
					<p class="card-body">And here is some text</p>
				</div>
			</div>

			<div class="row-19-col-7-span-2x3-OSS card">
				<div class="card-text">
					<h6 class="card-title">Card title</h6>
					<p class="card-body">And here is some text</p>
				</div>
			</div>

			<div class="row-21-col-1-span-1x8-CEZANNE card">
				<div class="card-text">
					<h6 class="card-title">Card title</h6>
					<p class="card-body">And here is some text</p>
				</div>
			</div>

			<div class="row-22-col-4-span-4x5-LACHAPPELLE card">
				<div class="card-text">
					<h6 class="card-title">Card title</h6>
					<p class="card-body">And here is some text</p>
				</div>
			</div>
			<div class="row-27-col-3-span-3x4-MONKEY card">
			</div>
			<div class="row-26-col-1-span-3x3-GEMEOS card">
				<div class="card-text">
					<h6 class="card-title">Card title</h6>
					<p class="card-body">And here is some text</p>
				</div>
			</div>
			<div class="row-27-col-6-span-4x4-TURRELL card">
				<div class="card-text">
					<h6 class="card-title">Card title</h6>
					<p class="card-body">And here is some text</p>
				</div>
			</div>
			<div class="row-33-col-7-span-2x2-AM1 card">
				<div class="card-text">
					<h6 class="card-title">Card title</h6>
					<p class="card-body">And here is some text</p>
				</div>
			</div>
			<div class="row-31-col-1-span-2-IAM card">
				<div class="card-text">
					<h6 class="card-title">Card title</h6>
					<p class="card-body">And here is some text</p>
				</div>
			</div>
			<div class="row-35-col-1-span-5x6-FERIS card">
				<div class="card-text">
					<h6 class="card-title">Card title</h6>
					<p class="card-body">And here is some text</p>
				</div>
			</div>
			<div class="row-37-col-4-span-3x6-ONCA card">
			</div>
		</div>
	</div>
</div>