<div class="container">
	<div class="grid-inspirations">
		<div class="nuancier card">
		</div>
		<div class="row-1-col-2-span-7-MIES card">
			<div class="card-text">
				<h4 class="card-title">	Ludwig Mies van der Rohe </h4>
				<h5 class="card-body">Barcelona Pavilion</h5>
			</div>
		</div>
		<div class="row-4-col-8-span-3x3-PORTINARI card">
			<div class="card-text">
				<h4 class="card-title">Cândido Portinari</h4>
				<h5 class="card-body">São Francisco de Assis Church</h5>
			</div>
		</div>
		<div class="row-5-col-2-span-3x4-PARROT card">
		</div>
		<div class="row-7-col-4-span-4x3-SOFOOT card">
			<div class="card-text">
				<h4 class="card-title">SO FOOT</h4>
				<h5 class="card-body">N° 134</h5>
			</div>
		</div>
		<div class="row-9-col-1-span-2-BARRAGAN1 card">
			<div class="card-text">
				<h4 class="card-title">Luis Barragán</h4>
				<h5 class="card-body">House and Studio</h5>
			</div>
		</div>
		<div class="row-11-col-5-span-2x3-BARRAGAN2 card">
			<div class="card-text">
				<h4 class="card-title">Luis Barragán</h4>
				<h5 class="card-body">Las Capuchinas Chapel</h5>
			</div>
		</div>
		<div class="row-9-col-5-span-4x5-PARROT2 card">
		</div>
		<div class="row-13-col-3-span-5x5-BASQUIAT card">
			<div class="card-text">
				<h4 class="card-title">Jean-Michel Basquiat</h4>
				<h5 class="card-body">Untitled</h5>
			</div>
		</div>

		<div class="row-19-col-7-span-2x3-OSS card">
			<div class="card-text">
				<h4 class="card-title">OSS 117</h4>
				<h5 class="card-body">Directed by Michel Hazanavicius</h5>
			</div>
		</div>

		<div class="row-21-col-1-span-1x8-CEZANNE card">
			<div class="card-text">
				<h4 class="card-title">Cézanne</h4>
				<h5 class="card-body">Self Portrait</h5>
			</div>
		</div>
		<div class="row-26-col-1-span-3x3-DERAIN card">
			<div class="card-text">
				<h4 class="card-title">André Derain</h4>
				<h5 class="card-body">La Danse</h5>
			</div>
		</div>
		<div class="row-27-col-3-span-3x4-MONKEY card">
		</div>
		<div class="row-26-col-1-span-3x3-DERAIN card">
			<div class="card-text">
				<h4 class="card-title">André Derain</h4>
				<h5 class="card-body">La Danse</h5>
			</div>
		</div>
		<div class="row-26-col-1-span-3x3-GEMEOS card">
			<div class="card-text">
				<h4 class="card-title">Os Gemeos - Banksy</h4>
				<h5 class="card-body">New York</h5>
			</div>
		</div>
		<div class="row-27-col-6-span-4x4-TURRELL card">
			<div class="card-text">
				<h4 class="card-title">James Turrell</h4>
				<h5 class="card-body"> Guggenheim Museum</h5>
			</div>
		</div>
		<div class="row-33-col-7-span-2x2-AM1 card">
			<div class="card-text">
				<h4 class="card-title">Air Max 1</h4>
				<h5 class="card-body">Nike</h5>
			</div>
		</div>
		<div class="row-31-col-1-span-2-IAM card">
			<div class="card-text">
				<h4 class="card-title">IAM</h4>
				<h5 class="card-body">L'École du Micro d'Argent</h5>
			</div>
		</div>
		<div class="row-35-col-1-span-5x6-FERIS card">
			<div class="card-text">
				<h4 class="card-title">Giacomo Carmagnola </h4>
				<h5 class="card-body">"A-A-A"</h5>
			</div>
		</div>
		<div class="row-37-col-4-span-3x6-ONCA card">
		</div>
	</div>
</div>
