<div class="container">
  <div class="projects-grid">
      <div class="projects-date">
        <h2>2018</h2>
        <div class="t__rotation__up"><p>2 months</p></div>
      </div>
      <div class="card projects-image bg__mrgigz">
        <!-- <div class="project-bio">
          <p>Mr Gigz is an application made during my formation at Le Wagon. With three classmates we wanted to create a link beetwen bar managers and music band. The priciple is simple, a bar manager adds an anouncement for a gig on our website.  Music band can apply and the bar manager can select what kind of band he would gor his show.</p>
        </div>
      -->
    </div>
    <div class="projects-name">
      <h3>Mr GIGZ</h3>
    </div>
</div>
</div>
