<div class="container">
  <div class="projects-grid">
    <div class="t__rotation__up project-period__mrgigz rotation"><span id="big__letter__num">02</span><span id="big__letter">m</span><span id="big__letter">o</span><span id="big__letter">n</span><span id="big__letter">t</span><span id="big__letter">h</span><span id="big__letter">s</span></div>
    <div class="projects-date__mrgigz rotation">
      <h2>Full Stack Developper</h2>
    </div>
    <div class="card projects-image__mrgigz rotation">
        <!-- <div class="project-bio">
          <p>Mr Gigz is an application made during my formation at Le Wagon. With three classmates we wanted to create a link beetwen bar managers and music band. The priciple is simple, a bar manager adds an anouncement for a gig on our website.  Music band can apply and the bar manager can select what kind of band he would gor his show.</p>
        </div>
      -->
    </div>
    <div class="projects-name__mrgigz rotation">
      <h3>Mr GIGZ - Le WAGON</h3>
    </div>

    <div class="t__rotation__up project-period__sad  rotation"><span id="big__letter__num">09</span><span id="big__letter">m</span><span id="big__letter">o</span><span id="big__letter">n</span><span id="big__letter">t</span><span id="big__letter">h</span><span id="big__letter">s</span></div>
    <div class="projects-date__sad rotation">
      <h2>jr. Market Analyst</h2>
    </div>
    <div class="card projects-image__sad rotation">
        <!-- <div class="project-bio">
          <p>Mr Gigz is an application made during my formation at Le Wagon. With three classmates we wanted to create a link beetwen bar managers and music band. The priciple is simple, a bar manager adds an anouncement for a gig on our website.  Music band can apply and the bar manager can select what kind of band he would gor his show.</p>
        </div>
      -->
    </div>
    <div class="projects-name__sad rotation">
      <h3>SAD Marketing</h3>
    </div>

    <div class="t__rotation__up project-period__pr rotation"><span id="big__letter__num">06</span><span id="big__letter">m</span><span id="big__letter">o</span><span id="big__letter">n</span><span id="big__letter">t</span><span id="big__letter">h</span><span id="big__letter">s</span></div>
    <div class="projects-date__pr rotation">
      <h2>int. Public Relations</h2>
    </div>
    <div class="card projects-image__pr rotation">
        <!-- <div class="project-bio">
          <p>Mr Gigz is an application made during my formation at Le Wagon. With three classmates we wanted to create a link beetwen bar managers and music band. The priciple is simple, a bar manager adds an anouncement for a gig on our website.  Music band can apply and the bar manager can select what kind of band he would gor his show.</p>
        </div>
      -->
    </div>
    <div class="projects-name__pr rotation">
      <h3>PR Media</h3>
    </div>

    <div class="t__rotation__up project-period__ai rotation"><span id="big__letter__num">10</span><span id="big__letter">m</span><span id="big__letter">o</span><span id="big__letter">n</span><span id="big__letter">t</span><span id="big__letter">h</span><span id="big__letter">s</span></div>
    <div class="projects-date__ai rotation">
      <h2>Communication Manager</h2>
    </div>
    <div class="card projects-image__ai rotation">
        <!-- <div class="project-bio">
          <p>Mr Gigz is an application made during my formation at Le Wagon. With three classmates we wanted to create a link beetwen bar managers and music band. The priciple is simple, a bar manager adds an anouncement for a gig on our website.  Music band can apply and the bar manager can select what kind of band he would gor his show.</p>
        </div>
      -->
    </div>
    <div class="projects-name__ai rotation">
      <h3>Amnesty International</h3>
    </div>
  </div>
</div>
