<div class="container-project">
  <div class="scrolling-wrapper">
    <% @projects.each do |project| %>
    <section class="projects-card">
      <div class="projects-grid">
        <div class="projects-date">
          <h2><%= project.date%></h2>
        </div>
        <a href="#" class="scroll-previous" address="true"></a>
        <div class="projects-image card">
          <div class="card-text">
            <p><%= project.description %></p>
          </div>
        </div>
        <div class="projects-description">
          <h4><%= project.name %></h4>
        </div>
        <a href="#" class="scroll-next" address="true"></a>
      </section>
      <%end%>
  </div>
</div>

z