.btn-layout1 {
	height: 88px;
	width: 88px;
	margin: 0;
	border: solid 2px rgba(#f4f5db, 0.8);
	border-radius: 50%;
	position: fixed;
	background-color: rgba(#f4f5db, 0.2);
	display: flex;
	justify-content: center;
	align-items: center;
	box-shadow: 6px 6px 24px -1px rgba(0,0,0,0.60);
	box-shadow: -6px 6px 24px -1px rgba(0,0,0,0.60);
	z-index: 5000;

}

.btn-layout2 {
	height: 88px;
	width: 88px;
	margin: 0;
	border: solid 2px rgba(#f4f5db, 0.8);
	border-radius: 50%;
	position: fixed;
	background-color: rgba(#f4f5db, 0.2);
	display: flex;
	justify-content: center;
	align-items: center;
	box-shadow: 6px 6px 24px -1px rgba(0,0,0,0.60);
	box-shadow: -6px 6px 24px -1px rgba(0,0,0,0.60);
	z-index: 5000;
}


.btn-text {
	color: rgba(#f4f5db, 0.8) ;
	font-size: 16px;
	transform: rotate(-30deg);
	font-family: 'Montserrat', sans-serif;
	font-weight: 900;
	font-style: italic;
}

.btn-back {
	grid-row: 1;
	grid-column: 1 / 2;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 5000;

		.fa-arrow-left {
		color: white;
		font-size: 48px;
		opacity: 0.7;
		padding-left: 24px;
		&:hover {
			opacity: 1;
			text-shadow: #f7f9bc 1px 0 10px;
		}
	}
}

.btn-mail {
	grid-row: 1;
	grid-column: 3 / 4;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 5000;

		.fa-envelope {
		color: white;
		font-size: 48px;
		opacity: 0.7;
		padding-left: 24px;

		&:hover {
			opacity: 1;
			text-shadow: #f7f9bc 1px 0 10px;


		}
	}
}








#home-link {
	background-color: rgba(#f4f5db,0.4);
	//box-shadow: 0 1px 4px 0 rgba(#f4f5db,0.4), 0 1px 2px 0 rgba(#f4f5db,0.6);
	border-left: solid #ffffff 1px;
	color: white;
	opacity: 1;
	text-shadow: black 1px 0 4px;
	padding: 5px 1px 5px 5px;
	padding-left: 16px;
	padding-right: 16px;
	letter-spacing: 3px;
	transition: 0.3s;

	&:hover {
		color: rgba(#ffffff, 0.1);
		text-shadow: #f7f9bc 1px 0 10px;
	}
}	

#margin-and {
	margin-right: 8px;
	margin-left: 8px;
}





