.btn-text {
	color: red ;
	font-size: px;
	transform: rotate(-30deg);
	font-family: 'Montserrat', sans-serif;
	font-weight: 900;
	font-style: italic;
}

.btn {
	height: 88px;
	width: 88px;
	margin: 0;
	border: solid 2px rgba(#ffffff, 0.8);
	border-radius: 50%;
	position: fixed;
	background-color: rgba(#ffffff, 0.2);
	display: flex;
	justify-content: center;
	align-items: center;
	box-shadow: 6px 6px 24px -1px rgba(0,0,0,0.60);
	box-shadow: -6px 6px 24px -1px rgba(0,0,0,0.60);
	z-index: 5000;

}



.btn-back:before {
	content: "";
	position: absolute;
	border-radius: 50%;
	bottom: 2.5%;
	left: 5%;
	opacity: 0.6;
	height: 100%;
	width: 90%;
	filter: blur(5px);
	z-index: 2;
}

.btn-text {
	color: rgba(#ffffff, 0.8) ;
	font-size: 16px;
	transform: rotate(-30deg);
	font-family: 'Montserrat', sans-serif;
	font-weight: 900;
	font-style: italic;
}

.back { 
	left: 1%;
	top: 12%;
}



.btn-cta {
	position: fixed;
	right: 10%;
	bottom: 15%;

	li {
		margin-top: 96px;
		margin-bottom: 96px;
	}
}


