//INSPIRATIONS

.card {
  background-repeat:no-repeat;
  background-size:contain;
  background-position:center;
  transition: 1.2s ease-out;
  display: flex;
  justify-content: center;
  align-items: center;

  .card-text {
    color: white;
    opacity: 0;
    transition: 1.2s ease-out;
  }

  &:hover {
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-size:contain;
    background-position:center;

    .card-text {
      opacity: 1;
    }
  }
}



