//INSPIRATIONS

.card {
  background-repeat:no-repeat;
  background-size:contain;
  background-position:center;
  display: flex;
  justify-content: center;
  align-items: center;

  .card-text {
    color: white;
    opacity: 0;
    transition: 0.7s;
    background-color: black;
  }

  &:hover {
    .card-text {
      opacity: 1;
      background-color: black;
      padding: 8px;
    }
  }
}



