h1 {
	font-size: 72px;
	margin-bottom: 40px;
	margin-top: 0px;
	color: #fffffe;
	font-family: 'Montserrat', sans-serif;
	font-weight: 900;
	font-style: italic;
	opacity: 0.9;
}

h2 {
	font-size: 64px;
	margin-bottom: 32px;
	color: #fffffe;
	font-family: 'Montserrat', sans-serif;
	font-weight: 900;
	font-style: italic;
}

h3 {
	font-size: 48px;
	margin-bottom: 24px;
	color: #fffffe;
	font-family: 'Montserrat', sans-serif;
	font-weight: 600;
	font-style: italic;
}

h4 {
	font-size: 40px;
	margin-bottom: 8px;
	margin-top: 8px;
	color: #fffffe;
	font-family: 'Montserrat', sans-serif;
	font-weight: 600;
	font-style: italic;
}

h5 {
	font-size: 32px;
	color: #fffffe;
	font-family: 'Raleway', sans-serif;
	font-weight: 200;
}

h6 {
	font-size: 16px;
	margin: 4px;
	padding: 0px;	
	font-family: 'Montserrat', sans-serif;
	font-weight: 600;
	font-style: italic;
}

p {
	font-size: 14px;
	margin: 4px;
	padding: 0px;
	color: #fffffe;
	font-family: 'Raleway', sans-serif;
	font-weight: 200;
	text-align: left;
}



a:hover, a:visited, a:link, a:active {
	text-decoration: none;
}

.text {
	display: flex;
	flex-direction: row;
	align-items: center;
	font-size: 20px;
	margin: 4px;
	padding: 0px;
	font-family: 'Raleway', sans-serif;
	font-weight: 200;
	color: #d0ddd1;
	margin-right: 32px;
}


.contact-links {
	a {
		font-size: 32px;
		color: #fffffe;
		font-family: 'Raleway', sans-serif;
		font-weight: 200;
		padding-top: 3px;
		padding-bottom: 3px;
		padding-left: 16px;
		padding-right: 16px;
		
		&:hover {
			background-color: rgba(#f4f5db,0.4);
		//box-shadow: 0 1px 4px 0 rgba(#f4f5db,0.4), 0 1px 2px 0 rgba(#f4f5db,0.6);
		border-left: solid #ffffff 1px;
		color: white;
		opacity: 1;
		text-shadow: #f7f9bc 4px 0 10px;
	}	
}
}



.home-bio .btn-link {
	padding-left: 6px;
	padding-right: 6px;
	padding-top: 3px;
	padding-bottom: 3px;
	transition: 0.3s ;

	&:hover,
	&:focus {
		background-color: rgba(#f4f5db,0.4);
		//box-shadow: 0 1px 4px 0 rgba(#f4f5db,0.4), 0 1px 2px 0 rgba(#f4f5db,0.6);
		border-left: solid #ffffff 1px;
		color: white;
		opacity: 1;
		text-shadow: #f7f9bc 1px 0 10px;
	}
}

.txt_center {
	text-align: left;
	display: flex;
	justify-content: left;
	align-items: center;
}

.home-bio {

	p {
		font-size: 24px;
		text-align: justify;
		text-justify: auto;
		line-height: 2;
		margin-bottom: 20px;
		opacity: 0.8;
	}

	a {
		font-size: 24px;
		color: white;
		font-family: 'Raleway', sans-serif;
		font-weight: 400;
		opacity: 1;
	}

	#home-link {

		a{
			font-family: 'Montserrat', sans-serif;
			font-weight: 600;
			font-style: italic;

		}

	}
}





























