h1 {
font-size: 80px;
margin-bottom: 40px;
margin-top: 0px;
color: white;
font-family: 'Montserrat', sans-serif;
font-weight: 900;
font-style: italic;
}

h2 {
font-size: 64px;
margin-bottom: 32px;
color: white;
font-family: 'Montserrat', sans-serif;
font-weight: 900;
font-style: italic;
}

h3 {
font-size: 48px;
margin-bottom: 24px;
color: white;
font-family: 'Montserrat', sans-serif;
font-weight: 600;
font-style: italic;
}

h4 {
font-size: 40px;
margin-bottom: 16px;
color: white;
font-family: 'Montserrat', sans-serif;
font-weight: 600;
font-style: italic;
}

h5 {
font-size: 32px;
margin-bottom: 8px;
color: white;
font-family: 'Montserrat', sans-serif;
font-weight: 600;
font-style: italic;
}

h6 {
font-size: 24px;
margin-bottom: 8px;
font-family: 'Montserrat', sans-serif;
font-weight: 600;
font-style: italic;
}

p {
	font-size: 12px;
	margin-bottom: 8px;
	font-family: 'Montserrat', sans-serif;
    font-weight: 200;
}

a:hover, a:visited, a:link, a:active {
	text-decoration: none;
	color: #232222;
}