h1 {
font-size: 80px;
margin-bottom: 40px;
margin-top: 0px;
color: white;
}

h2 {
font-size: 64px;
margin-bottom: 32px;
color: white;
}

h3 {
font-size: 48px;
margin-bottom: 24px;
color: white;
}

h4 {
font-size: 40px;
margin-bottom: 16px;
color: white;
}

h5 {
font-size: 32px;
margin-bottom: 8px;
color: white;
}

h6 {
font-size: 24px;
margin-bottom: 8px;
color: white;
}

p {
	font-size: 16px;
	margin-bottom: 8px;
	color: white;
}