/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


 @import "pages/index";
 @import "components/index";
 @import "configuration/index";

 body {
 	margin-top: 0px;
 	text-rendering: optimizeLegibility;
 	background:#3c3c34;
 	
 }


 .grid-layout {
 	padding-top: 16px;
 	display: grid;
 	grid-template-columns: 20% 60% 20%;
 	grid-template-rows: 25vh;
 	width: 100%;
 }

 .title__layout {
 	background-repeat:no-repeat;
 	background-size:contain;
 	background-position:center;
 	display: flex;
 	justify-content: center;
 	align-items: center;
 	z-index: 9000;
 	grid-row: 1;
 	grid-column: 2;
 }







